src/plugin/
.vscode
.circleci
.github
tests
tsconfig.json
tslint.json
scripts/download-purchases-framework.sh
src/ios/.framework_version
RELEASING.md
jest.config.js
examples/
apiTester/
Dangerfile
.version
.npmrc.SAMPLE
fastlane/

# CircleCI folders
vendor/
.bundle/

**/.idea
**/*.iml

Gemfile
Gemfile.lock

.prettierrc
.sdkmanrc