<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-annotated-plugin-android" version="1.0.4">

    <name>cordova-annotated-plugin-android</name>
    <description>Enhanced CordovaPlugin class</description>
    <license>MIT</license>
    <keywords>cordova, android</keywords>
    <repo>https://github.com/appfeel/cordova-annotated-plugin-android</repo>
    <issue>https://github.com/appfeel/cordova-annotated-plugin-android/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.0.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/android/AnnotatedCordovaPlugin.java" target-dir="src/com/appfeel/cordova/annotated/android/plugin" />
        <source-file src="src/android/CordovaPluginAction.java" target-dir="src/com/appfeel/cordova/annotated/android/plugin" />
        <source-file src="src/android/ExecutionThread.java" target-dir="src/com/appfeel/cordova/annotated/android/plugin" />
        <source-file src="src/android/PluginAction.java" target-dir="src/com/appfeel/cordova/annotated/android/plugin" />
        <framework src="build.gradle" custom="true" type="gradleReference" />
        <asset src="proguard-annotated-plugin-android.txt" target="proguard-annotated-plugin-android.txt" />
    </platform>

</plugin>
