version: 2.1
orbs:
  macos: circleci/macos@2.3.6
  android: circleci/android@2.5.0
  revenuecat: revenuecat/sdks-common-config@3.6.0

aliases:
  base-mac-job: &base-mac-job
    resource_class: m4pro.medium
    macos:
      xcode: '16.4.0'
    shell: /bin/bash --login -o pipefail

  release-tags: &release-tags
    filters:
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        ignore: /.*/

  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/

  only-main-branch: &only-main-branch
    filters:
      tags:
        ignore: /.*/
      branches:
        only: main

parameters:
  action:
    type: enum
    enum: [build, upgrade-hybrid-common, bump]
    default: build
  version:
    type: string
    default: ''
  automatic:
    type: boolean
    default: false

commands:

  npm-dependencies:
    description: "Install all global and local npm dependencies"
    steps:
      - run: npm install -g cordova@11
      - run: npm install --legacy-peer-deps
      - run: npm install -g yarn

  install-ruby:
    parameters:
      directory:
        type: string
        default: .
    steps:
      - restore_cache:
          keys:
            # This cache key should be updated whenever we change the Ruby version
            - v4-gem-cache-{{ arch }}-ruby-3.2.0
      # CircleCI images fail on Ruby 3.3
      # https://github.com/fastlane/fastlane/issues/21794#issuecomment-2021331335
      # Also, not using macos/switch-ruby because its broken
      - run:
          # We're using Ruby 3.2.0 here to avoid an issue that caused a crash with Fastlane and Ruby 3.2.2.
          name: Set Ruby 3.2.0
          command: |
            eval "$(rbenv init -)"
            rbenv install -s 3.2.0  # Replace with your required Ruby version
            rbenv global 3.2.0
            rbenv rehash
      - run:
          name: Verify Ruby version
          command: ruby -v
      - save_cache:
          # This cache key should be updated whenever we change the Ruby version
          key: v4-gem-cache-{{ arch }}-ruby-3.2.0
          paths:
            - ~/.rbenv/versions/3.2.0

  api-tester-dependencies:
    description: "Install API Tester dependencies"
    steps:
       - install-nvm
       - run: npm install typescript -g
       - save_cache:
          paths:
            - node_modules
          key: api-tester-dependencies-{{ checksum "package.json" }}

  yarn-dependencies:
    description: "Install yarn dependencies"
    steps:
       - install-nvm
       - npm-dependencies
       - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
       - run: yarn
       - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  npm-ios-dependencies:
    description: "Install all ios global and local npm dependencies"
    steps:
      - run: npm install -g ios-deploy
      - run: npm install --legacy-peer-deps

  npm-install-cordova-paramedic:
    description: "Install Cordova paramedic"
    steps:
      - run:
          name: Install Cordova Paramedic
          command: npm install --location=global github:apache/cordova-paramedic#452a44898fd473d96bf428b738e9171c1390397c

  replace-api-key-linux:
    description: "Replace API_KEY"
    steps:
      - run: sed -i s/api_key/$API_KEY/ tests/tests.js

  replace-api-key:
    description: "Replace API_KEY"
    steps:
      - run: sed -i .bck s/api_key/$API_KEY/ tests/tests.js

  install-sdkman:
    description: Install SDKMAN
    steps:
      - run:
          name: Installing SDKMAN
          command: |
            curl -s "https://get.sdkman.io?rcupdate=false" | bash
            echo -e '\nsource "/home/circleci/.sdkman/bin/sdkman-init.sh"' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Setup Java environment
          command: |
            sdk env install
            echo -e '\nexport JAVA_HOME="/home/circleci/.sdkman/candidates/java/current"' >> $BASH_ENV

  install-nvm:
    steps:
      - run:
          name: Install node 18.20.7
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
            echo 'export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run: nvm install 18.20.7
      - run: nvm use 18.20.7
      - run: echo 'nvm use 18.20.7' >> $BASH_ENV
      - run: node -v

  copy-npm-rc:
    steps:
      - run:
          name: Copy npmrc sample file to final location
          command: cp .npmrc.SAMPLE .npmrc

  install-and-create-sim:
    parameters:
      install-simulator-name:
        type: string
      sim-device-type:
        type: string
      sim-device-runtime:
        type: string
      sim-name:
        type: string
    steps:
      - run:
          name: Install xcode-install
          command: gem install xcode-install
      - run:
          name: Install simulator
          command: | # Print all available simulators and install required one
              xcversion simulators
              xcversion simulators --install="<< parameters.install-simulator-name >>"
      - run:
          name: Create simulator
          command: xcrun simctl create '<< parameters.sim-name >>' com.apple.CoreSimulator.SimDeviceType.<< parameters.sim-device-type >> com.apple.CoreSimulator.SimRuntime.<< parameters.sim-device-runtime >>

jobs:
  android-integration-test:
    description: "Run Android integration tests for Cordova"
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2024.04.1
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - install-sdkman
      - android/create-avd:
          avd-name: myavd
          system-image: system-images;android-32;google_apis;x86_64
          install: true
      - android/start-emulator:
          avd-name: myavd
          no-window: true
          wait-for-emulator: false
          post-emulator-launch-assemble-command: ""
      - install-nvm
      - npm-dependencies
      - npm-install-cordova-paramedic
      - replace-api-key-linux
      - run: sdk install gradle 7.5
      - run: rm -rf ~/.gradle/caches/
      - run: npm run test:android
    environment:
      JVM_OPTS: -Xmx6g
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

  ios-integration-test:
    description: "Run iOS integration tests for Cordova"
    <<: *base-mac-job
    steps:
      - checkout
      - macos/preboot-simulator:
          device: iPhone 16
          version: '18.5'
      - npm-dependencies
      - npm-install-cordova-paramedic
      - npm-ios-dependencies
      - replace-api-key
      - run:
          name: npm run test:iOS
          command: npm run test:ios
          no_output_timeout: 30m

  runtest:
    docker:
      - image: cimg/ruby:3.2

    steps:
      - checkout
      - yarn-dependencies
      - run: yarn test
      - run: yarn tslint
      - run:
          name: Build
          command: |
            yarn build

  api-tester:
    docker:
      - image: cimg/ruby:3.2

    steps:
      - checkout
      - api-tester-dependencies
      - restore_cache:
          keys:
            - api-tester-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install and compile plugin
          command: npm install
      - run:
          name: Compile API Tester
          command: tsc -p apiTester

  docs-deploy:
    docker:
      - image: cimg/ruby:3.2

    steps:
      - checkout
      - yarn-dependencies
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - revenuecat/setup-git-credentials
      - run:
          name: Build docs
          command: bundle exec fastlane generate_docs

  make-release:
    description: "Publishes the new version and creates a github release"
    <<: *base-mac-job
    steps:
      - checkout
      - npm-dependencies
      - install-ruby
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - revenuecat/trust-github-key
      - copy-npm-rc
      - run:
          name: release
          command: bundle exec fastlane release

  update-hybrid-common-versions:
    description: "Creates a PR updating purchases-hybrid-common to latest release"
    <<: *base-mac-job
    steps:
      - checkout
      - npm-dependencies
      - install-ruby
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - revenuecat/trust-github-key
      - revenuecat/setup-git-credentials
      - run:
          name: Updating to next version of phc
          command: |
            bundle exec fastlane update_hybrid_common \
            version:<< pipeline.parameters.version >> \
            open_pr:true \
            automatic_release:<< pipeline.parameters.automatic >>

workflows:
  version: 2
  build-test:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - runtest
      - ios-integration-test

  deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - android-integration-test: *release-branches
      - ios-integration-test: *release-branches
      - hold:
          type: approval
          requires:
            - ios-integration-test
            # Temporarily commenting this out because paramedic is failing
            # - android-integration-test
          <<: *release-branches
      - revenuecat/tag-current-branch:
          ruby_version: "3.2"
          requires:
            - hold
          <<: *release-branches
      - make-release:
          <<: *release-tags
      - docs-deploy:
          <<: *release-tags
          requires:
            - make-release

  api-tester-check:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - api-tester

  danger:
    jobs:
      - revenuecat/danger:
          ruby_version: "3.2"

  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "release-train", << pipeline.schedule.name >> ]
    jobs:
      - revenuecat/automatic-bump:
          ruby_version: "3.2"

  manual-trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - revenuecat/automatic-bump:
          ruby_version: "3.2"

  update-hybrid-common-versions:
    when:
      equal: [ upgrade-hybrid-common, << pipeline.parameters.action >> ]
    jobs:
      - update-hybrid-common-versions
