version: 2.1
orbs:
  android: circleci/android@2.1.2

aliases:
  release-tags: &release-tags
    filters: 
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        ignore: /.*/
        
  release-tags-and-branches: &release-tags-and-branches
    filters:
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        only: /^release\/.*/

commands:
  npm-dependencies:
    description: "Install all global and local npm dependencies"
    steps:
      - run: npm install -g cordova
      - run: npm install -g github:taquitos/cordova-paramedic#dc1e4dca8a8ae33d577932737c34b643cbfe418d
      - run: npm install --legacy-peer-deps
      - run: npm install --global yarn

  api-tester-dependencies:
    description: "Install API Tester dependencies"
    steps:
       - install-nvm
       - run: npm install typescript -g
       - save_cache:
          paths:
            - node_modules
          key: api-tester-dependencies-{{ checksum "package.json" }}

  yarn-dependencies:
    description: "Install yarn dependencies"
    steps:
       - install-nvm
       - npm-dependencies
       - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
       - run: yarn
       - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  npm-ios-dependencies:
    description: "Install all ios global and local npm dependencies"
    steps:
      - run: npm install -g ios-deploy
      - run: npm install --legacy-peer-deps
    
  replace-api-key-linux:
    description: "Replace API_KEY"
    steps:
      - run: sed -i s/api_key/$API_KEY/ tests/tests.js

  replace-api-key:
    description: "Replace API_KEY"
    steps:
      - run: sed -i .bck s/api_key/$API_KEY/ tests/tests.js

  install-sdkman:
    description: Install SDKMAN
    steps:
      - run:
          name: Installing SDKMAN
          command: |
            curl -s "https://get.sdkman.io?rcupdate=false" | bash
            echo -e '\nsource "/home/circleci/.sdkman/bin/sdkman-init.sh"' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Setup Java environment
          command: |
            sdk env install
            echo -e '\nexport JAVA_HOME="/home/circleci/.sdkman/candidates/java/current"' >> $BASH_ENV

  install-nvm:
    steps:
      - run:
          name: Install node 16.13.1
          command: |
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh | bash
            echo 'export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - run: nvm install 16.13.1
      - run: nvm use 16.13.1
      - run: echo 'nvm use 16.13.1' >> $BASH_ENV
      - run: node -v

  set_up_git_user:
    description: Set git config parameters
    steps:
      - run: git config --global user.email "dev+ci@revenuecat.com"
      - run: git config --global user.name "RevenueCat CI"

jobs:
  android-integration-test:
    description: "Run Android integration tests for Cordova"
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2021.10.1
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - install-sdkman
      - run: sdkmanager "platforms;android-32"
      - run: sdkmanager --update
      - android/create-avd:
          avd-name: myavd
          system-image: system-images;android-32;google_apis;x86_64
          install: true
      - android/start-emulator:
          avd-name: myavd
          no-window: true
      - install-nvm
      - npm-dependencies
      - replace-api-key-linux
      # - run: sdk install gradle 7.5
      - run: rm -rf ~/.gradle/caches/
      - run: npm run test:android
    environment:
      JVM_OPTS: -Xmx6g
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"

  ios-integration-test:
    description: "Run iOS integration tests for Cordova"
    macos:
      xcode: 13.3.1
    steps:
      - checkout
      - run:
          name: Start simulator
          command: xcrun instruments -w "iPhone 13 (15.4) [" || true
      - npm-dependencies
      - npm-ios-dependencies
      - replace-api-key
      - run: npm run test:ios

  runtest:
    docker:
      - image: cimg/ruby:2.6

    steps:
      - checkout
      - yarn-dependencies
      - run: yarn test
      - run: yarn tslint
      - run:
          name: Build
          command: |
            yarn build

  api-tester:
    docker:
      - image: cimg/ruby:2.6

    steps:
      - checkout
      - api-tester-dependencies
      - restore_cache:
          keys:
            - api-tester-dependencies-{{ checksum "package.json" }}
      - run:
          name: Compile API Tester
          command: tsc -p apiTester

  docs-deploy:
    docker:
      - image: cimg/ruby:2.6
          
    steps:
      - checkout
      - yarn-dependencies
      # Bundler
      - restore_cache:
          keys: 
            - v1-gem-cache-{{ checksum "Gemfile.lock" }}
      - run: 
          name: Bundle install
          command: |
              bundle config set --local clean 'true'
              bundle config set --local path 'vendor/bundle'
              bundle install
      - save_cache:
          key: v1-gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - set_up_git_user
      - run:
          name: Build docs
          command: bundle exec fastlane generate_docs

workflows:
  version: 2
  # build-test:
  #   jobs:
  #     - runtest
  
  deploy:
    jobs:
      - docs-deploy: *release-tags

  android-integration-test:
    jobs:
      - android-integration-test
  
  ios-integration-test:
    jobs:
      - ios-integration-test: *release-tags-and-branches

  # api-tester-check:
  #   jobs:
  #     - api-tester

